<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ibanez Crawler - Home{% endblock %}</title>
        
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <footer id="ibzcrwlr_footer" role="contentinfo">
            Copyright ©️ Ugly ! {{ "now"|date("Y") }}
        </footer>
    </body>
</html>
