{% extends 'base.html.twig' %}

{% block body %}
<div class="hero">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">IBZCRWLR !</h1>
            <p class="py-6">
                Crawler, harvester, and a pinch of sugar. Lorem ipsum etc, my
                favourite series is S.
            </p>
            <a class="btn btn-primary" href="{{ path('app_dashboard') }}">Go to Dashboard</a>
        </div>
    </div>
</div>
{% endblock %}
